nav {
    background-color: #11aac5;
    background-image: url(https://th.bing.com/th/id/OIP.LCVkklwQ9OJorn8aRMq5SAHaEK?rs=1&pid=ImgDetMain);
    background-size: cover;
    padding: 10px;
    border-radius: 10%;
  }
  
  ul {
    list-style-type: lower-greek;
    padding: 0;
    margin-left: 20%;
  }
  
  li {
    display: inline;
    margin-right: 20px;
    padding: 4%;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  